<!DOCTYPE html>
<html>
<head>
  <title>Bienvenido a mi portafolio</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div >
        <h1>Hola Soy Luis Ventura</h1>
    </div>
  <script src="/js/main.js"></script>
</body>
</html>
